*.xml
*.pyc
*.iml
.idea
.idea/APE_paper.iml
.idea/misc.xml
.idea/vcs.xml
/supp4/regression/.ipynb_checkpoints/
/supp6/movement_analysis_out_of_task/.ipynb_checkpoints/
/supp6/silence/.ipynb_checkpoints/
/supp7/.ipynb_checkpoints/
/supp7/state_change/.ipynb_checkpoints/
/supp7/value_change/.ipynb_checkpoints/
/supp7/movement_vs_trial_num_regression/.ipynb_checkpoints/
figure3/state_change_which_sessions.py
figure3/change_over_time_which_mice_sessions.py
figure3/beginning_and_end_which_sessions.py
figure3/beginning_and_end_which_sessions.py
figure4/large_rewards_which_sessions.py
figure3/beginning_and_end_which_sessions.py
figure4/value_change_which_sessions.py
figure5/which_sessions_psychometric.py
make_exp_record_for_paper.py
supp6/silence/which_sessions_silence.py
/set_global_params_local_paths.py
bias_analysis/.ipynb_checkpoints/bias_analysis_all_trials_APE_size_from_raw_across_mice-checkpoint.ipynb
figure5/PsychometricAnalysis/.ipynb_checkpoints/logistic_reggression_first_pass-checkpoint.ipynb
figure5/PsychometricAnalysis/.ipynb_checkpoints/logistic_regression_over_learning-checkpoint.ipynb
