set_global_params.py
*.xml
*.pyc
*.iml
.idea/APE_paper.iml
.idea/misc.xml
.idea/vcs.xml
/supp3/regression/.ipynb_checkpoints/
/supp5/movement_analysis_out_of_task/.ipynb_checkpoints/
/supp5/silence/.ipynb_checkpoints/
/supp6/.ipynb_checkpoints/
/supp6/state_change/.ipynb_checkpoints/
/supp6/value_change/.ipynb_checkpoints/
/supp6/movement_vs_trial_num_regression/.ipynb_checkpoints/
figure5/state_change_which_sessions.py
figure4/change_over_time_which_mice_sessions.py
figure4/beginning_and_end_which_sessions.py
figure4/beginning_and_end_which_sessions.py
figure5/large_rewards_which_sessions.py
figure4/beginning_and_end_which_sessions.py
figure5/value_change_which_sessions.py
figure6/which_sessions_psychometric.py
make_exp_record_for_paper.py
supp5/silence/which_sessions_silence.py
